:root {
    --color-primary: #f0f0f0;
    --color-container: #d8d8d8;

    --color-text: #303030;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
}

.content {
    background-color: #abc4ed;
    border-inline: 6px solid #4287f5;
    margin-inline: 20vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 60vw;
    font-family: 'Helvetica', sans-serif;
}

h1 {
    text-align: center;
    color: var(--color-text);
}

#upload-form {
    text-align: center;
    margin-top: 20px;

    div {
        width: 300px;
        height: 300px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        p {
            font-size: 18px;
            margin: 0;
        }
    }

    #uploadContainer {
        background-color: var(--color-container);
        img {
            height: 50%;
        }
    }

    #imageContainer {
        margin-top: 40px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        p {
            margin-bottom: 10px;
        }
    }    
}

button {
    margin-top: 25px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #45a049;
}

#result {
    display: none; /* Hide popup by default */
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    min-height: 200px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 1px 1000px rgba(0, 0, 0, 0.5);
    max-height: 80%; /* Limit height of the popup */
    overflow-y: auto;
}

/* Responsive styling */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    #upload-form {
        margin-top: 10px;

        #image-upload {
            font-size: 14px;
            width: 80%;
            box-sizing: border-box;
        }

        button {
            font-size: 14px;
        }
    }

    #result {
        font-size: 16px;
    }
}
/* styles.css */

#howToUsePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 400px;
    text-align: center;
}

#howToUsePopup h2 {
    color: #333;
}

#howToUsePopup p {
    color: #666;
}

#closePopup {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}
.howToUseButton {
    margin-top: 25px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.howToUseButton:hover {
    background-color: #45a049; /* Darker green on hover */
}
.poweredByGoogle {
    margin-top: 25px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.poweredByGoogle p {
    margin: 0;
    color: white;
    font-size: 14px;
}