:root {
    --color-primary: #f0f0f0;
    --color-container: #d8d8d8;

    --color-text: #303030;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    background-color: #345283;
}

#scroll-bg{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    pointer-events: none;
    user-select: none;
    position: fixed;
    line-height: 1.5;
    height: 100vh;
    width: 100vw;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    opacity: .2;
    img{
        padding: 0;
        margin: 0;
    }
}

.content {
    background-color: #abc4ed;
    border-inline: 6px solid #4287f5;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: clamp(600px, 60vw, 750px);
    font-family: 'Helvetica', sans-serif;
    overflow-y: auto;
    #content-bg {
        font-family: 'Trebuchet MS', sans-serif;
        position: fixed;
        font-size: 480px;
        color: grey;
        filter: hue-rotate(200deg);
        z-index: -1;
        opacity: 0.10;
    }
}

h1 {
    text-align: center;
    color: var(--color-text);
    margin: 15px 0 15px 0;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

#upload-form {
    text-align: center;
    margin-top: 20px;

    div {
        margin-bottom: 30px;
        width: 250px;
        height: 250px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        p {
            font-size: 18px;
            margin: 0;
        }
    }

    #uploadContainer {
        opacity: 0.8;

        background-color: var(--color-container);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;

        img {
            height: 50%;
        }
    }

    #uploadContainer:hover {
        opacity: 1;
        transform: scale(1.02);
    }

    #imageContainer {

        img {
            border-radius: 25px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            object-fit: cover;
            width: 100%;
            height: 100%;
            background-color: var(--color-container);
        }
        p {
            margin-bottom: 10px;
        }
    }    
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.02); /* Scale on hover */
}

#loading {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    opacity: 50%;

    img {
        width: 100px;
        height: 100px;
        animation: rotate 3s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#result {
    display: none; /* Hide popup by default */
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: clamp(600px, 70vw, 1000px);
    min-height: 200px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 1px 1000px rgba(0, 0, 0, 0.5);
    max-height: 80%; /* Limit height of the popup */
    button {
        position: sticky;
        top: 0;
    }
    p {
        width: 100%;
        overflow-y: auto;
    }
}

#howToUsePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1000px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: clamp(300px, 40vw, 400px);
    text-align: center;
}

#howToUsePopup h2 {
    color: #333;
}

#howToUsePopup p {
    color: #666;
}

#closePopup {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}
.howToUseButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.poweredByGoogle {
    margin: 25px 0px 15px 0px;
    background-color: #4c7faf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.poweredByGoogle p {
    margin: 0;
    color: white;
    font-size: 14px;
}

/* Responsive styling */
@media only screen and (max-width: 700px) {
    .content {
        width: 100%;
        border: 0;
        margin-inline: 0;
        transition: all 0.3s ease 0s;
    }

    #result {
        width: math(100% - 20px);
        transition: all 0.3s ease 0s;
    }
}